body {
	font-family: sans-serif;
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

#main-nav-wrapper {
	background-color:rgba(0,0,0,0.75);
	position: fixed;
	width: 100%;
	max-height: 100%;
	overflow: auto;
}

#main-nav {
	color: #ffffff;
	text-align: center;
}

a#main-logo {
	font-size: 24px;
	font-weight: bold;
}

nav a {
	color: white;
	text-decoration: none;
}

ul#main-menu {
	list-style: none; /* usuwanie znaczków */
	padding: 0;
	margin: 10px 0 0 0;
	text-align: center;
}

ul#main-menu li {
	flex-grow: 1; /* równoważność elementów */
	margin-bottom: 5px;
}

#main-header {
	text-align: center;
	background-image: url(../images/background.jpg);
	background-position: center;
	background-size: cover;
	padding: 10px 20px;
}

#main-header h1 {
	color: white;
}

#main-content {
	padding: 20px;
}

#main-content a {
	color: steelblue;
	text-decoration: none;
}

#main-content article {
	margin-bottom: 60px;
}

#main-sidebar {
	background-color: whitesmoke;
}

#main-sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#main-sidebar h2 {
	color: silver;
	text-align: center;
	margin: 0;
	border-bottom: 1px dashed silver;
	padding: 10px 0 10px 0;
}

#main-sidebar ul li {
	clear: both;
	padding-bottom: 5px;
}

#main-sidebar ul li a {
	color: black;
}

#main-sidebar ul li a img {
	float: left;
	margin: 0 10px 5px 0;
}

#main-sidebar ul li p {
	color: silver;
}

@media (min-width: 760px) {

	#main-nav {
		align-items: center;
		justify-content: space-between;
		padding: 5px 0 5px 0;
		max-width: 1200px;
		margin: 0 auto;
	}

	ul#main-menu {
		margin: 0;
	}

	ul#main-menu li {

		margin-bottom: 0;
	}

	#main-menu li a:hover {
		text-decoration: underline;
	}

	#main-header h1 {
		font-size: 60px;
	}

	header {
		padding: 200px 20px;
	}

	section#main-section {
		display: flex;
	}

	#main-content {
		max-width: 70%;
	}

	#main-container {
		max-width: 1200px;
		margin: 0 auto 0 auto;
	}
}
