body {
	font-family: sans-serif;
	margin: 0;
}

nav#main-nav{
	background-color: steelblue;
	color: #ffffff;
	text-align: center;
}

a#main-logo {
	font-size: 24px;
	font-weight: bold;
}

nav a {
	color: white;
	text-decoration: none;
}

ul#main-menu {
	display: flex; /* w jednej linii */
	list-style: none; /* usuwanie znaczków */
	flex-wrap: wrap; /* zawijanie do następnej linii */
	padding: 0;
	margin: 10px 0 0 0;
	text-align: center;
}

ul#main-menu li {
	flex-grow: 1; /* równoważność elementów */
}

#main-header {
	text-align: center;
	background-image: url(background.jpg);
	background-position: center;
	background-size: cover;
	padding: 10px 20px;
}

#main-header h1 {
	color: white;
}


@media (min-width: 760px) {
}